*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: fixed;
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
}
.header .nav {
    display: inline-block;
   line-height: 46px;
}
.header .nav > li > a{
    text-decoration: none;
    padding: 0px 24px;
    color: #fff;
}
.header .nav > li{
    display: inline-block;
    position: relative;
}
.header .nav > li:hover > a{
    display: block;
    color: #000;
    background-color: #ccc;
}
.header .nav .subnav{
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}
.subnav li{
      min-width: 160px;
      list-style-type: none;
}
.nav > li:hover > .subnav{
    display: block;
}
.subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
.subnav a{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0px 24px;
}
.search{
float: right;
padding: 0 24px;
line-height: 46px;
cursor: pointer;
}
.search a{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.search:hover{
    color: rgb(255, 255, 255);
    background-color: #f44336!important;
}

.slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider2.jpg') center top / cover no-repeat;
}
.slider .text-content{
    color: #ccc;
}
